@charset "UTF-8";

/*************** THEME ***************/

:root {
	--background-main: #F8F8F8;
	--background-accent: #ffffff;
	--font-primary:#000000;
	--font-secondary: #6b6b6b;
	--color-one: #6814ce;
	--box-shadow: #d6d6d6;
	/* --box-shadow-thick: 5px 5px 15px var(--box-shadow); */

	/* --background-primary: #ffffff; */
	/* --background-secondary: #c9c9c9; */
	/* --background-secondary: #F8F8F8; */
	/* --background-tertiary:#F2F2F2; */

	--headings-font: 'Libre Baskerville', serif;
	--paragraph-font: 'Source Sans Pro', sans-serif;
}

:root.dark {

	--background-main: #212121;
	--background-accent: #272727;
	--font-primary: #ffffff;
	--font-secondary: #C5D4FF;
	--color-one: #81a1b7;
	--box-shadow: #000000;
	/* --box-shadow-thick: 10px 10px 25px var(--box-shadow); */

	/* --background-primary: #1c1c1c; */
	/* --background-secondary:#000000; */
	/* --background-tertiary: #000925; */
}

/*************** BASIC LAYOUT + THEMING ***************/

body {
	background-color: var(--background-main);
	font-family: var(--paragraph-font);
	color: var(--font-primary);
}

.content {
	margin: 2rem 0 !important;
}

.sidebar {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	margin: 2rem 0 !important;
}

@media screen and (max-width: 768px) {
	/* At 768px, review-img-large is hidden, review-img-small is visible and excess space in between is removed from top of sidebar */
	.sidebar {
		margin-top: 0 !important;
	}
}

@media only screen and (max-width: 576px) {
	.content {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
	
	.sidebar {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}

/*************** BASIC FONTS ***************/

h1 {
	/* color: red; */
	font-family: var(--headings-font);
	font-size: 2.5rem;
	font-style: bold;
}

h2 {
	/* color: orange; */
	font-family: var(--headings-font);
	font-size: 1.75rem;
}

h3 {
	/* color: purple; */
	font-family: var(--headings-font);
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: var(--color-one) !important;
}

/*************** TOP ***************/

/* Navbar */

nav {
	background-color: var(--background-accent);
	z-index: 100;
	font-family: var(--paragraph-font);
	height: 5rem;
}

nav .container {
	background-color: gray;
}

nav a:hover {
	color: var(--color-one) !important;
}

.navbar-brand {
	font-size: 1.25rem;
	cursor: pointer;
	color: var(--font-primary);
	font-family: var(--headings-font);
	font-weight: 700;
}

.nav-link {
	font-size: 0.95rem;
	cursor: pointer;
	color: var(--font-primary);
	font-family: var(--paragraph-font);
	font-weight: 400;
}

.navbar-toggler {
	color: var(--font-primary);
}

.navbar-toggler-icon-custom:hover, .theme-icon:hover {
	color: var(--color-one) !important;
}

.navbar-toggler:focus, .theme-toggler:focus, .theme-toggler::after {
	outline: 0 !important;
	border: none !important;
	box-shadow: 0 0 0 0 !important;
}

@media screen and (max-width: 768px) {

	.navbar-collapse {
		position: absolute;
		top: 60px;
		left: -100%;
		width: 25%;
		transition: all 0.1s ease;
		display: block;
		height: 100vh;
		background-color: var(--background-accent);
		padding: 1.25rem;
	}

	.navbar-brand {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
	}
	
	.navbar-collapse.collapsing {
		height: 100vh;
		left: -100%;
		transition: all 0.2s ease;
	}
	
	.navbar-collapse.show {
		margin-left: 100%;
		transition: all 0.2s ease;
	}
	
}

/* Header */

.header-image {
	background-size: cover;
	width: 100%;
	height: 20rem;
}

/*************** MIDDLE ***************/

/* Postlisting */

.postlisting-content {
	background-color: var(--background-accent);
	box-shadow: var(--box-shadow-thick);
	margin: 0 1rem 2rem 1rem;
}

.postlisting-text {
	padding: 1rem;
}

.postlisting-excerpt {
/* font-style: italic; */
}

.postlisting-author {
	text-transform: uppercase;
	color: var(--font-secondary);
	font-size: 1.1rem;
	padding: 0.25rem 0;
}

.postlisting-bottom-container {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5rem;
	font-size: 0.9rem;
}

.postlisting-bottom-container .hide-element {
	display: none !important;
}

/* Isotope Sort Button */

.custom-button {
	border-radius: 50px;
	font-size: 0.85rem;
	display: inline-block;
	box-shadow: var(--box-shadow-thick);
	color: var(--font-primary) !important;
	background-color: var(--background-accent);
	border: none;
	border-radius: 15px;
	margin: 0;
	padding: 0.25rem 0.75rem;
}

.custom-button:hover {
	color: var(--color-one) !important;
}

.custom-button-clicked {
	color: var(--background-accent) !important;
	background-color: var(--color-one);
	/* font-weight: bold; */
}

.custom-button-clicked:hover {
	color: var(--background-accent) !important;
}

.custom-button-group {
	display: flex;
	flex: 1;
	margin-bottom: 2rem !important;
}

.hide-all-buttons-group {
	display: none;
}

.view-button-group {
	justify-content: flex-start;
}

.view-button {
	margin-right: 1rem;
}

.sort-button-group {
	justify-content: flex-end;
}

@media screen and (max-width: 576px) {
	.custom-button-group {
		display: flex;
		flex-wrap: wrap;
	}
	
	.view-button-group {
		/* flex-basis: 100% !important; */
		display: none;
	}
	
	.sort-button-group {
		/* flex-basis: 100% !important; */
		/* display: none; */
	}
}

.sort-button {
	margin-left: 1rem;
}

.sort-button-icon-hide {
	display: none !important;
}

/* Reviews */

.review-card {
	box-shadow: var(--box-shadow-thick);
	background-color: var(--background-accent);
	padding: 4rem;
	line-break: 2.5rem;
	margin: 0 0.3rem;
}

@media only screen and (max-width: 1200px) {
	.review-card {
		padding: 3rem;
	}
}

@media only screen and (max-width: 992px) {
	.review-card {
		padding: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.review-card {
		margin: 0 !important;
	}
}

.review-author {
	text-transform: uppercase;
	color: var(--font-secondary);
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}

.review-icon {
	font-size: 0.75rem !important;
}

.review-img-container {
	background-color: var(--background-main) !important;
	align-items: center;
}

.review-img {
	max-width:100% !important;
	height: auto !important;
	box-shadow: var(--box-shadow-thick);
}

.review-img-visible-small {
	display: none;
}

@media screen and (max-width: 768px) {
	.review-img-visible-small {
		display: block;
	}
	.review-img-visible-large {
		display: none;
	}
}

.review-publish-info {
	font-size: 0.85rem;
	text-transform: uppercase;
	display: inline-block !important;
	margin-top: 0rem !important;
	padding: 0 !important;
}

.review-blurb {
	white-space: pre-line
}

.review-content h2, .review-content h3 {
	padding: 0.5rem 0;
}

.review-content p {
	font-size: 1.15rem;
}

.review-content a {
	color: var(--color-one);
}

.review-card a:hover {
	color: var(--font-primary) !important;
	border-bottom: 1px solid var(--color-one);
}

.review-card blockquote {
	font-size: 1rem;
	font-family: var(--headings-font);
	font-style: italic;
	padding: 1rem 1.5rem;
	border-left: 0.25rem solid var(--font-secondary) ;
	position: relative;
}

.review-card blockquote p {
	margin-bottom: 0 !important;
}

/*************** SIDE ***************/

/* Card */

.card {
	background-color: var(--background-accent);
	border: none !important;
	padding: 1rem;
	margin-bottom: 2rem !important;

}

.card-body {
	padding: 0 !important;
}

.card-container {
	padding: 1.25rem !important;
}

.about-card-visible-small {
	display: none;
}

@media screen and (max-width: 768px) {
	.about-card-visible-small {
		display: block;
		margin-bottom: 2rem !important;
	}
	.about-card-visible-large {
		display: none;
	}
}

/* Suggestions */

.suggested-read-container {
	padding: 0.5rem 0 0.5rem 0 !important;
}

.suggested-read-title {
	font-family: var(--headings-font);
	font-size: 0.85rem;
	padding-top: 1rem !important;
}

.suggested-read-author {
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--font-secondary);
}

/* Ṃailing List */

.mailinglist-email-entry-container {
	padding-top: 0.5rem;
	border-bottom: 2px solid var(--font-primary) !important;
	background-color: var(--background-accent);
}

.mailinglist-email-entry {
	border: none;
	background: transparent;
	caret-color: var(--font-primary);
	color: var(--font-primary);
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.mailinglist-email-entry:focus {
	border: none;
	background: transparent;
	outline: none;
	box-shadow: none;
	caret-color: var(--font-primary);
	color: var(--font-primary);
}

/* Searchbar */

.searchbar-card-body {
	background-color: var(--background-main) !important ;
}

.search-container {
	border: 2px solid var(--font-primary) !important;
	border-radius: 20px;
	background-color: var(--background-main);
}

.search-icon {
	border: 0 transparent;
	background: transparent;
	padding-right: 0;
	padding-left: 0.5rem;
	color: var(--font-primary);
}

.search-bar {
	border: none;
	background: transparent;
	caret-color: var(--font-primary);
	color: var(--font-primary);
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.search-bar:focus {
	border: none;
	background: transparent;
	outline: none;
	box-shadow: none;
	caret-color: var(--font-primary);
	color: var(--font-primary);
}

.search-result-container {
	padding: 1.25rem 1.25rem 0 1.25rem !important;
}

.search-result-title {
	font-family: var(--headings-font);
	font-size: 0.95rem;
}

.search-result-author {
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--font-secondary);
}

/* Tags */

.tags-list {
	padding-left: 0 !important;
	margin: 0 !important;
	padding-top: 0 !important;
	width: auto;
	display: inline;
}

.tags-list p {
	color: var(--font-primary) !important
}

.review-publish-info p {
	color: var(--font-primary) !important;
}

.review-publish-info p:hover {
	color: var(--color-one) !important;
}

.review-publish-info a:hover {
	border: none;
}

footer {
	background-color: var(--background-accent);
	color: var(--font-primary);
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: var(--background-accent);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-one);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-one);
}

/* .post-column {
	background-color: blue;
}

.post-row {
	background-color: yellow;
} */