@charset "UTF-8";

/*************** THEME ***************/

:root {
	--background-main: #F8F8F8;
	/* --background-main: #ffffff; */
	--background-accent: #ffffff;
	--font-primary:#000000;
	--font-secondary: #575757;
	--font-tertiary: #d4d4d4;
	--color-one: #6814ce;
	--box-shadow: #d6d6d6;

	/* --box-shadow-thick: 5px 5px 15px var(--box-shadow); */
	/* --background-primary: #ffffff; */
	/* --background-secondary: #c9c9c9; */
	/* --background-secondary: #F8F8F8; */
	/* --background-tertiary:#F2F2F2; */

	--headings-font: Poppins, sans-serif;
	--paragraph-font: 'Open Sans', sans-serif;

}

:root.dark {

	--background-main: #1A191E;
	/* --background-main: #272727; */
	--background-accent: #212026;
	--font-primary: #f8f8f8;
	--font-secondary: #aaaaaa;
	--font-tertiary: #595959;
	--color-one: #6c99b8;
	--box-shadow: #000000;

	/* --box-shadow-thick: 10px 10px 25px var(--box-shadow); */
	/* --background-primary: #1c1c1c; */
	/* --background-secondary:#000000; */
	/* --background-tertiary: #000925; */
}

/*************** BASIC LAYOUT + THEMING ***************/

/* .divider {
    background: var(--background-main);
    background: linear-gradient(90deg, var(--background-accent), var(--font-tertiary), var(--background-accent));
    height: 1px;
} */

body {
	background-color: var(--background-main);
	font-family: var(--paragraph-font);
	color: var(--font-primary);
	font-weight: 300 !important;
}

/* .header-container {
	margin: 2rem 0 0.5rem 0 !important;
} */

.content {
	margin: 2rem 0 0.5rem 0 !important;
}

.content-no-margin {
	margin-top: 0rem !important;
}

.sidebar {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	margin: 2rem 0 !important;
}

.sidebar-no-margin {
	margin-top: 0rem !important;
}


@media screen and (max-width: 768px) {
	/* At 768px, review-img-large is hidden, review-img-small is visible and excess space in between is removed from top of sidebar */
	.sidebar {
		margin-top: 0 !important;
	}
}

@media screen and (max-width: 576px) {
	.header-container {
		display: none;
		/* padding-left: 2rem !important; */
		/* padding-right: 2rem !important; */
	}
	.content {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
	
	.sidebar {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
}

/*************** BASIC FONTS ***************/

h1 {
	/* color: red; */
	font-family: var(--headings-font);
	font-size: 2.5rem;
}

h2 {
	/* color: orange; */
	font-family: var(--headings-font);
	font-size: 1.75rem;
}

h3 {
	/* color: purple; */
	font-family: var(--headings-font);
	font-size: 1.25rem;
}

h4 {
	/* color: purple; */
	font-family: var(--headings-font);
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: var(--color-one) !important;
}

/*************** TOP ***************/

/* Navbar */

nav {
	background-color: var(--background-main);
	z-index: 100;
	font-family: var(--paragraph-font);
	height: 7.5rem;
}

nav .container {
	background-color: gray;
}

nav a:hover {
	color: var(--color-one) !important;
}

.navbar-brand {
	font-size: 1.25rem;
	cursor: pointer;
	color: var(--font-primary);
	font-family: var(--headings-font);
}

.nav-link {
	font-size: 0.9rem;
	cursor: pointer;
	color: var(--font-primary);
	font-family: var(--headings-font);
	font-weight: 500;
}

.navbar-toggler {
	color: var(--font-primary);
	border: none;
}

.navbar-toggler-icon-custom:hover, .theme-icon:hover {
	color: var(--color-one) !important;
}

.navbar-toggler:focus, .theme-toggler:focus, .theme-toggler::after {
	outline: 0 !important;
	border: none !important;
	box-shadow: 0 0 0 0 !important;
}

.navbar-brand-text {
	height: 50px !important;
}

@media screen and (max-width: 768px) {

	.navbar-collapse {
		position: absolute;
		top: 60px;
		left: -100%;
		width: 25%;
		transition: all 0.1s ease;
		display: block;
		height: 100vh;
		background-color: var(--background-accent);
		padding: 1.25rem;
	}

	.navbar-brand {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
	}

	.navbar-brand-img {
		display: none !important;
	}
	
	.navbar-collapse.collapsing {
		height: 100vh;
		left: -100%;
		transition: all 0.2s ease;
	}
	
	.navbar-collapse.show {
		margin-left: 100%;
		transition: all 0.2s ease;
	}
	
}

/* Header */

.header-image {
	background-size: cover;
	width: 100%;
	height: auto;
	/* height: 15rem; */
}

/*************** MIDDLE ***************/

.postitem-icon {
	font-size: 0.7rem !important;
}

/* Postlisting */

.postcolumn .postitem-content {
	background-color: var(--background-accent);
	box-shadow: var(--box-shadow-thick);
	margin: 0 1rem 2rem 1rem;
}

.postcolumn .postitem-text {
	padding: 1rem;
}

.postcolumn .postitem-bottom-container {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5rem;
	font-size: 0.9rem;
}

.postcolumn .postitem-bottom-container .hide-element {
	display: none !important;
}

/* .postcolumn {
	background-color: blue;
} */

/* .postrow {
	background-color: yellow;
} */

.postrow .postitem-content {
	padding: 1.5rem 0;
	border-top: 0.5px solid var(--font-tertiary);
	/* background-color: green; */
}

.postitem-excerpt {
	font-size: 1rem;
}
	
.postitem-author {
	text-transform: uppercase;
	font-family: var(--headings-font);
	font-weight: 400;
	color: var(--font-primary);
	font-size: 0.95rem;
	padding: 0.65rem 0;
}

.postitem-bottom-container {
	color: var(--font-secondary);
	font-family: var(--headings-font);
	font-weight: 300;
	text-transform: uppercase;
	font-size: 0.8rem !important;
}

.postrow .postitem-bottom-container {
	padding-top: 0.5rem;
}

.postrow .postitem-bottom-container .hide-element {
	display: none !important;
}

/* Isotope Sort Button */

.custom-button {
	font-size: 0.85rem;
	display: inline-block;
	box-shadow: var(--box-shadow-thick);
	color: var(--font-primary) !important;
	background-color: var(--background-accent);
	border: none;
	border-radius: 15px;
	margin: 0;
	padding: 0.25rem 0.75rem;
}

.custom-button:hover {
	color: var(--color-one) !important;
}

.custom-button-clicked {
	color: var(--background-accent) !important;
	background-color: var(--color-one);
}

.custom-button-clicked:hover {
	color: var(--background-accent) !important;
}

.custom-button-group {
	display: flex;
	flex: 1;
	margin-bottom: 2rem !important;
}

.hide-all-buttons-group {
	display: none;
}

.view-button-group {
	justify-content: flex-start;
}

.view-button {
	margin-right: 1rem;
}

.sort-button-group {
	justify-content: flex-end;
}

@media screen and (max-width: 576px) {
	.custom-button-group {
		display: flex;
		flex-wrap: wrap;
	}
	
	.view-button-group {
		display: none;
	}
}

.sort-button {
	margin-left: 1rem;
}

.sort-button-icon-hide {
	display: none !important;
}

/* Reviews */

.review-card {
	box-shadow: var(--box-shadow-thick);
	background-color: var(--background-accent);
	padding: 4rem;
	line-break: 2.5rem;
	margin: 0 0.3rem;
	margin-bottom: 1.5rem;
}

@media screen and (max-width: 1200px) {
	.review-card {
		padding: 3rem;
	}
}

@media screen and (max-width: 992px) {
	.review-card {
		padding: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.review-card {
		margin: 0 !important;
		margin-bottom: 1.5rem !important;
	}
}

.review-author {
	text-transform: uppercase;
	color: var(--font-primary);
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
	font-weight: 400;
}

.review-icon {
	font-size: 0.75rem !important;
}

.review-img-container {
	background-color: var(--background-main) !important;
	align-items: center;
}

.review-img {
	max-width:100% !important;
	height: auto !important;
	box-shadow: var(--box-shadow-thick);
}

.review-img-visible-small {
	display: none;
}

@media screen and (max-width: 768px) {
	.review-img-visible-small {
		display: block;
	}
	.review-img-visible-large {
		display: none;
	}
}

.review-publish-info {
	font-size: 0.85rem;
	text-transform: uppercase;
	display: inline-block !important;
	margin-top: 0.5rem !important;
	margin-bottom: 0rem;
	padding: 0 !important;
	font-family: var(--headings-font) !important;
}

.review-blurb {
	white-space: pre-line
}

.review-content h2, .review-content h3 {
	padding: 0.5rem 0;
}

.review-content p {
	font-size: 1rem;
	font-weight: 300;
}

.review-content a {
	color: var(--color-one);
}

.review-card a:hover {
	color: var(--color-one) !important;
}

.review-card blockquote {
	font-size: 1rem;
	font-family: var(--headings-font);
	font-style: italic;
	padding: 1rem 1.5rem;
	border-left: 0.25rem solid var(--font-secondary) ;
	position: relative;
}

.review-card blockquote p {
	margin-bottom: 0 !important;
}

/*************** SIDE ***************/

/* Card */

.card {
	background-color: var(--background-accent);
	border: none !important;
	padding: 1rem;
	margin-bottom: 2rem !important;

}

.card-body {
	padding: 0 !important;
}

.card-container {
	padding: 1.25rem !important;
}

.about-card-visible-small {
	display: none;
}

@media screen and (max-width: 768px) {
	.about-card-visible-small {
		display: block;
		margin-bottom: 2rem !important;
	}
	.about-card-visible-large {
		display: none;
	}
}

/* Suggestions */

.suggested-read-container {
	padding: 0.5rem 0 0.5rem 0 !important;
}

.suggested-read-title {
	font-family: var(--headings-font);
	font-weight: 400;
	font-size: 0.9rem;
	padding-top: 1rem !important;
}

.suggested-read-author {
	font-size: 0.8rem !important;
	text-transform: uppercase;
	color: var(--font-secondary);
	font-family: var(--headings-font);
	font-weight: 300;

}

/* Ṃailing List */

.sib-form {
	background-attachment: unset !important;
	font-size: unset !important;
	font-family: unset !important;
	padding: unset !important;
	margin: unset !important;
}

.sib-form-block {
	padding: unset !important;
	word-wrap: unset !important;
	outline: unset !important;
}

.sib-form .entry__field:focus-within {
	border: none !important;
	background: transparent !important;
	outline: none !important;
	box-shadow: none !important;
	caret-color: var(--font-primary) !important;
	color: var(--font-primary) !important;
}

#sib-form {
    text-align: unset !important;
}


#sib-container {
	background: unset !important;
	margin: unset !important;
	padding: unset !important;
	display: unset !important;
	width: unset !important;
}

.sib-form .input {
	box-shadow: unset !important;
	min-width: unset !important;
	padding: unset !important;
}

.sib-form input {
	border-bottom: 2px solid var(--font-primary) !important;
}

.sib-form input:focus {
	border-bottom: 2px solid var(--font-primary) !important;
}

.sib-form .input:focus {
	box-shadow: unset !important;
	min-width: unset !important;
	padding: unset !important;
}


.sib form input::placeholder {
	color: var(--font-secondary) !important;
}

.sib-form .form__entry {
    border: unset !important;
    margin: unset !important;
    padding: unset !important;
    position: unset !important;
}

.sib-form .entry__field {
	-webkit-align-items: unset !important;
	align-items: unset !important;
	background: unset !important;
	border: unset !important;
	border-radius: unset !important;
	display: unset !important;
	margin: unset !important;
	max-width: unset !important;
}

.form__label-row {
	display: unset !important;
	flex-direction: unset !important;
	justify-content: unset !important;
}

#error-message {
	display: none !important;
}

.sib-form .entry__error {
    color: var(--font-secondary) !important;
    font-size: 0.85rem !important;
    line-height: unset !important;
	display: block !important;
}

.sib-form-block__button-with-loader {
    min-height: unset !important;
    line-height: unset !important;
}

.sib-form-block__button {
    display: unset !important;
	padding: 0.25rem 0.75rem !important;
    border: unset !important;
    overflow-wrap: unset !important;
    max-width: unset !important;
    cursor: pointer !important;
}

.sib-form .clickable__icon {
    vertical-align: middle !important;
}

.sib-form .progress-indicator__icon {
	fill: white !important;
	height: 1rem !important;
	width: 1rem !important;
}

.sib-form-block__button-disabled{
	opacity: 1 !important;
}

/* Searchbar */

.searchbar-card-body {
	background-color: var(--background-main) !important ;
}

.search-container {
	border: 2px solid var(--font-primary) !important;
	border-radius: 20px;
	background-color: var(--background-main);
}

.search-icon {
	border: 0 transparent;
	background: transparent;
	padding-right: 0;
	padding-left: 0.5rem;
	color: var(--font-primary);
}

.search-bar {
	border: none;
	background: transparent;
	caret-color: var(--font-primary);
	color: var(--font-primary);
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.search-bar:focus {
	border: none;
	background: transparent;
	outline: none;
	box-shadow: none;
	caret-color: var(--font-primary);
	color: var(--font-primary);
}

.search-result-container {
	padding: 1.25rem 1.25rem 0 1.25rem !important;
}

.search-result-title {
	font-family: var(--headings-font);
	font-weight: 400;
	font-size: 0.9rem;
}

.search-result-author {
	font-size: 0.8rem !important;
	text-transform: uppercase;
	color: var(--font-secondary);
	font-family: var(--headings-font);
	font-weight: 300;

}

/* Tags */

.tags-list {
	padding-left: 0 !important;
	margin: 0 !important;
	padding-top: 0 !important;
	width: auto;
	display: inline;
	font-family: var(--headings-font);
	font-weight: 400;
	text-transform: uppercase;
}

.tags-list p {
	color: var(--font-primary) !important
}

.review-publish-info p {
	color: var(--font-primary) !important;
}

.review-publish-info p:hover {
	color: var(--color-one) !important;
}

.review-publish-info a:hover {
	border: none;
}

/* Footer */

.social-links {
	font-size: 0.85rem;
}

.copyright-text {
	font-size: 0.8rem;
}

footer {
	font-family: var(--headings-font);
	background-color: var(--background-accent);
	color: var(--font-secondary);
	text-transform: uppercase;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: var(--background-accent);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-one);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-one);
}