:root {
	--background-primary: #ffffff;
	--background-secondary: #c9c9c9;
	--background-tertiary:#F2F2F2;
	--font-primary:#181818;
	--font-secondary: #555555;
	--color-one: #6814ce;

	--headings-font: 'Poppins', sans-serif;
	--paragraph-font: 'Roboto', sans-serif;
}

:root.dark {
	--background-primary: #1c1c1c;
	--background-secondary:#000000;
	--background-tertiary: #000925;
	--font-primary: #e0e8ff;
	--font-secondary: #C5D4FF;
	--color-one: #be0085;
}

body {
	background-color: var(--background-primary);
	font-family: var(--paragraph-font) !important;
	color: var(--font-primary);
}

.container {
	margin: auto;
}

nav {
	background-color: var(--background-primary) !important;
	z-index: 100;
}

/* Navbar */

.navbar-brand, .nav-link {
	color: var(--font-primary) !important;
	font-family: var(--headings-font) !important;
	font-size: 0.8rem;
}

.navbar-brand {
	padding-left: 2rem;
	text-transform: uppercase;
}

.nav-link:hover {
	cursor: pointer;
}

.navbar-toggler-icon-custom {
	color: var(--font-primary);
}

.theme-toggler {
	padding-right: 1rem;
}


@media screen and (max-width: 768px) {
	
	.navbar-collapse {
		position: absolute;
		top: 40px;
		left: -100%;
		width: 25%;
		transition: all 0.1s ease;
		display: block;
		height: 100vh;
		background-color: var(--background-primary);
		padding: 2rem;
	}

	.navbar-brand {
		position: absolute;
		transform: translateX(-47.5%);
		left: 47.5%;
	}
	
	.navbar-collapse.collapsing {
		height: 100vh;
		left: -100%;
		margin-left: 1px;
		transition: all 0.2s ease;
	}
	
	.navbar-collapse.show {
		margin-left: 100%;
		transition: all 0.2s ease;
	}
	
	.navbar-toggler {
		padding-left: 2rem;
	}
}

.randomHeader {
	background-size: cover;
	width: 100%;
	height: auto;
}

/* Lists */

li {
	list-style: none;
	margin-bottom: 5px !important;
}

/* Links and buttons */

a, a:hover {
	text-decoration: none;
	color: inherit;
}

*:focus {
	/* outline: none !important;
	border: none !important;
	box-shadow: none !important; */
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: var(--background-primary);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-one);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-one);
}

/* Images */

.featured-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.featured-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
	object-fit: cover;
	width: 150px;
	height: auto;
	/* height: 200px; */
}

/* Global Components */

.tags-list {
	padding-left: 0 !important;
}

.tag {
	background-color: var(--background-primary);
	border: none;
	border-radius: 5px;
	margin: 0.4rem;
	margin-left: 0;
	padding: 0.25rem 0.75rem;
	border-radius: 50px;
	font-size: 0.85rem;
	display: inline-block;
	box-shadow: 0.5px 0.5px 5px var(--background-secondary);
}

.tag span {
	color: var(--font-primary) !important;
}

.tag span:hover {
	color: var(--color-one) !important;
}

.card {
	background-color: var(--background-primary) !important;
	border: none !important;
}

.search-container {
	border: 2.5px solid var(--font-primary) !important;
	border-radius: 20px;
}

.search-bar {
	border: none;
	background-color: var(--background-primary);
	caret-color: var(--font-primary);
	color: var(--font-primary);
}

.search-bar:focus {
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	box-shadow: none;
	caret-color: var(--font-primary);
	color: var(--font-primary);
}

/* Headings */

.heading {
	font-family: var(--headings-font);
	font-weight: bold;
}

.section-heading {
	color:var(--font-primary);
}

.subsection-heading {
	margin: 1rem 0 1rem 0;
	color: var(--font-primary);
}

.main-content {
	color: var(--font-primary);
}

.review-img {
	max-width:100% !important;
	height: auto !important;
}

.suggested-text-container {
	display: table; 
	/* height: 400px;  */
	overflow: hidden
}

.suggested-text {
	display: table-cell; 
	vertical-align: middle
}

.suggested-img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
	object-fit: cover;
	width: 50px;
	height: auto;
	/* height: 200px; */
}