body {
	background-color: var(--color-background);
	color: var(--color-text);
}
/* Light Mode */
:root {
	--color-background: white;
	--color-text: #222;
	--color-primary: #164BC5;
}

/* Dark Mode */
:root.dark {
	--color-background: black;
	--color-text: #DDD;
	--color-primary: #0F9640;
}

.randomHeader {
	background-size: cover;
	width: 100%;
	height: auto;
}
